/* CSS RESET

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END */
/* CSS */
html, body {
  font-family: 'Graphik', sans-serif;
  background-color: var(--colour-primary-shade1);
  max-width: 428px;
  min-width: 428px;
  min-height: 926px;
  max-height: 926px;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 3.5rem;
  margin-top: 0;
}

/* MAP */
/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map {
  height: 100%;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

a {
  text-decoration: none;
  color: inherit;
}

/* TYPOGRAPHY AND COLOURS */
:root{
  /* COLOURS */
  --colour-accent-shade1: #EFEFFA;
  --colour-accent-shade2:#8587DC;
  --colour-primary-shade1: #ffffff;
  --colour-primary-shade2: #E5E5E5;
  --colour-primary-shade3: #989898;
  --colour-black: #202020;

/* TYPE SCALE */
  --text-base-size: 1rem;
  --text-scale-ratio: 1.2;
  --text-xs: calc(var(--text-base-size) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

/* SPACING */
  --space-xxxs: 0.25em;
  --space-xxs: 0.375em;
  --space-xs: 0.5em;
  --space-sm: 1em;
  --space-md: 1.25em;
  --space-lg: 2em;
  --space-xl: 2.75em;
  --space-xxl: 5.25em;
  --space-xxxl: 7.5em;
  --space-xxxxl: 10em;

/* LINE WIDTH */
--width-primary: 1px;
}

/* TYPOGRAPHY */
/* FONTS */
@font-face {
  font-family: 'Graphik';
  src: url('font/Graphik-Medium.woff2') format('woff2'),
      url('font/Graphik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('font/Graphik-Regular.woff2') format('woff2'),
      url('font/Graphik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* STYLES */
h1{
  font-family: 'Graphik';
  font-size: var(--text-xl);
  font-weight: 500;
  line-height: 125%;
}

h2{
  font-family: 'Graphik';
  font-size: var(--text-lg);
  font-weight: 500;
  line-height: 125%;
}

h3{
  font-family: 'Graphik';
  font-size: var(--text-md);
  font-weight: 500;
  line-height: 170%;
}

p{
  font-family: 'Graphik';
  font-size: var(--text-sm);
  line-height: 170%;
}

i {
  font-style: italic;
}

/* loading */
.loading-bg {
  background-color: var(--colour-accent-shade1);
  height: 926px;
  max-width: 428px;
  z-index: 999;
  border: none;
}

.loading-logo {
  top: 20rem;
  position: fixed;
  margin: 3rem 5rem;
  width: inherit;
}

/* UI ELEMENTS */
/* BUTTONS */
.btn {
  content: "";
  font-family: 'Graphik';
  font-size: var(--text-sm);
  /* padding: 0rem var(--space-lg); */
  text-align: center;
  line-height: 3.3rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 3rem;
}
.btn-text {
  float: right;
  font-size: var(--text-md);
  padding: 0;
}

.btn-text-left {
  float: left;
}

.btn-addlight{
  position: fixed;
  right: 0;
  float: right;
  background-color: #FFC36A;
  width: 4rem;
  height: 4rem;
  left: 330px;
  top: 4rem;
  display: block;
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.02);
}

.btn-addlight img{
  padding: 1rem 0.5rem;
  max-height:4rem;
}

.head-button-size {
  background-color: var(--colour-accent-shade1);
  height: 1rem;
  width: 9rem;
  bottom: 0;
  border: none;
  padding-top: 1rem;
}

.head-material {
  color: var(--colour-black);
  font-size: 4px;
}

.head-mini-text {
  color: var(--colour-black);
  font-family: 'Graphik';
  font-size: 16px;
  margin-top: 5rem;
}

/*SEARCH*/
.menu {
  overflow: hidden;
  background-color: var(--colour-accent-shade1);
  height: 5rem; 
  bottom: 0;
  left: 0;
  position: fixed;
  max-width: 428px;
  vertical-align: middle;
  z-index: 999;
  border: none;
}

.search-bar{
  height: 5rem; 
  width: 428px;
  background-color: var(--colour-primary-shade1);
  color: var(--colour-black);
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 5rem;
  position: fixed;
  z-index: 999;
}

#map {
  height: 100%;
}

.controls {
  height: 2rem;
  width: 428px;
  background-color: var(--colour-primary-shade1);
  bottom: 5rem;
  position: fixed;
  border-radius: 2px 0 0 2px;
  outline: none;
  display: block;
  left: 0;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); */
}

#pac-input {
  background-color: var(--colour-accent-shade1);
  color: var(--colour-black);
  font-family: 'Graphik';
  font-size: 17px;
  border-radius: 1.625rem;
  font-weight: 300;
  height: 2.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
  width: 428px;
  padding: 0 3.5rem 0 1.5rem;
  top: 40px;
}

.pac-container {
  font-family: 'Graphik';
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: 'Graphik';
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 240px;
}

/* page heading */
.heading {
  margin-left: 1rem;
  margin-top: 2.5rem;
}

.inline {
  display: inline-block;
  justify-content: space-between;
  width: 428px;

}

.linebreak {
  width: 305px;
  height: 1.5px;
  border: none;
  background-color: #C4C4C4;
  color: #C4C4C4;
  margin-top: 1.5rem;
  margin-left: 1rem;
  display: block;
}

.btn-edit {
  color: #4233B3;
  float: right;
  display: block;
  padding-right: 2rem;
  font-size: 16px;
}

.btn-addpurple {
  float: right;
  display: block;
  padding-right: 1rem;
}

.btn-addpurple img{
  width: 15px;
}

/* CONTACT */
.contact-container {
  padding: 2rem;
  flex-direction: column;
}

.contact-item{
  display: flex;
  flex-direction: row;
  max-width: 332px;
  margin-top: 1.2rem;
  margin-left: 1rem;
  height: auto;
  top: 170px;
  background-color: #EFEFFA;
  border-radius: 30px;
  padding: 1.5rem 2rem;
  justify-content: space-between;
}

.contact-info{
  display: block;
  float: left;
} 

.emergency {
  background-color: #F95247;
  color: white;
  font-family: 'Graphik';
  font-weight: normal;
}

.btn-emergency-call{
  background-color: white;
  width: 4rem;
  height: 4rem;
  display: block;
  border-radius: 10rem;
}

.btn-call{
  background-color: #BFC0F9;
  width: 4rem;
  height: 4rem;
  display: block;
  border-radius: 10rem;
  float: right;
}

.btn-emergency-call img,
.btn-call img{
  padding: 1.2rem 1.2rem;
  max-height: 4rem;
}

/* SOUNDS */
.sounds-container {
  padding: 2rem;
  flex-direction: column;
}

.sounds-item{
  display: flex;
  flex-direction: column;
  max-width: 332px;
  margin-top: 1.2rem;
  margin-left: 1rem;
}

audio {
  width: 380px;
  color: #EFEFFA;
  
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #EFEFFA;
     color: var(--colour-black);
}

audio::-webkit-media-controls-play-button {
  background-image: url("img/play.svg");
  background-size: 1rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

audio::-webkit-media-controls-timeline {
  font-family: 'Graphik';
}

audio::-webkit-media-controls-mute-button {
  background-image: url("img/sounds.svg");
}

.sounds-info{
  display: block;
  float: left;
  padding-bottom: 1rem;
} 

.sounds-info h3{
  padding-bottom: 0.5rem;
}